<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Marko Streaming Results</title>
</head>
<body>
  <h1>Marko Streaming Results</h1>
  <p>Hello ${data.name}!</p>
</body>
</html>
